<p id="notice"><%= notice %></p>

<% if current_user == @user %>
	<h1> Post History </h1>


  <div id="container" class= "js-masonry centered photos clearfix" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item", "gutter": 3 }'>
    <% Post.all.each do |post| %>  
      <% if post.name == @user.name && @user.name == current_user.name %>
        <!-- User's Posts; code taken from 'posts/index' view-->
        <div class= "box item photo centered">
          <%= link_to image_tag(post.picture_url), post %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Link to Home -->
  <%= link_to 'Home', posts_path %>
<% else %>
	<p> You must be logged in as this user to view profile </p>
<% end %>
