<% unless current_user %>	
	<div class='info_container home_page'>	
      <center>
      <div class="row">
        <div class='large-4 columns title_head'>
          <!-- Shows percentage of upvotes -->
            <h3 class="fashion_help1">Wear It or Faux Pas?</h3> <h6 class="fashiondesc">Upload a photo of your outfit to get advice from fashion enthusiasts. </h6>  
				
        </div>
      	<div class='large-4 columns title_head'>
          <!-- Shows percentage of upvotes -->
            <h2 class="fashion_help3">Find the</h2><h2 class="fashion_help_sub"> Right Look</h2>  
				
        </div>
        <div class='large-4 columns title_head'>
          <!-- Shows percentage of upvotes -->
            <h3 class="fashion_help2">Fashion enthusiast?</h3><h6 class="fashiondesc">Bring your style expertise to the web by voting and offering your take on what to wear. </h6>  
				
        </div>
        
        <div class='small-1 columns right_arrow'>
        </div>
      </div>
      </center>
	</div>
<% else %>
	<div class='info_container home_page'>
      <center>
	      <div class="row">
	        <div class='large-12 columns title_head'>
				<h2 class="fashion_help">Welcome to proudawear!</h2>  
				<h4 class="help_desc">Click on a post below to get started.</h4>
	        </div>
	      </div>
      </center>    
	</div>
<% end %>


<center>
<div id="container" class="js-masonry centered photos clearfix" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item", "gutter": 3 }'>
	<center>
		<div id = "posts_container">
		  <% @posts.sort.reverse.each do |post| %>
		    <center>
		    <div class= "box item photo centered">
		      <%= link_to image_tag(post.picture_url), post %>
		    </div>
			</center>
		  <% end %>
		 </div>
	</center>
</div>
<center>

