<h1>Posts</h1>


<h1>Masonry - appended</h1>

   <div id="masonryContainer" class= "transitions-enabled infinite-scroll clearfix has-gutters"></div>
  <% @posts.each do |post| %>
    <div class= "masonry-brick box col">
      <%= link_to image_tag(post.picture_url), post %>
    </div>
  <% end %>
</div>





