// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { text-align: center;
}

div#container {
	// min-width: 800px;
	width: 94%;
  margin-top: 4em;
  margin-left: 1.5em;
  background: none;
}
// .item { width: 28%;
// }



.photos .photo {
  width: 29%;
  margin: 0.9em;
  margin-bottom: 0px;
  float: left;
  background: none;
}

.photos .photo img {
  display: block;
  width: 100%;
  border: 2px solid rgb(168, 198, 211);
  border-radius: 2px;
  transition: border 0.2s ease-in-out;
  box-shadow: 0px 0px 10px rgb(168, 198, 211);

}

.photos .photo img:hover {
  display: block;
  width: 100%;
  border: 4px solid rgb(168, 198, 211);
  transition: border 0.2s ease-in-out;

}

.box.item.photo.centered{
  
}

#posts_container{
  width: 97%;
  height: 102%;
  position: absolute;
  margin-left: 0.5em;
  margin-top: 0.7em;
}

p.user_name{
  position: left;
  display: inline-block;
  clear: both;
  margin-top: -1.2em;
}

// ************* Posts show view

// ************* Posts Votes *******************

.info_container{
  background: rgba(17, 16, 16, 0.52);
  margin-bottom: 1.5em;
  box-shadow: 0px 2px 15px black;
  max-height: 8.7em;
  margin-top: -1.3em;
}

  #verdict{
    float: left;
    color: lightgray;
  }

  .wear{
    color: rgb(112, 197, 112);
    margin-bottom: 0em;
  }

  .faux{
    color: rgb(224, 129, 129);
    margin-bottom: 0em;
  }

  img.wear{
    float: right;
    border: 3px solid;
    border-radius: 3px;
    width: 34%;
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 20px;
  }

  h3.wear{
    margin-top: -0.05em;
  }

  h3.faux{
    margin-top: -0.05em;
  }

  img.faux{
    float: right;
    border: 3px solid;
    border-radius: 3px;
    width: 34%;
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 20px;
  }

  .percent{
    font-size: 22px;
    margin-top: 2px;
    font-style: bold;
  }

.vote_percent{
  margin-top: 1.5em;
}

.large-8.columns.title_head{
  margin-left: 13%;
  margin-bottom: 1.5em;
}

  div#post_description{
    margin-top: 1.5em;
  }

  #post_title{
    margin-top: 0em;
  }

  .small-1.columns.right_arrow{
    margin-right: 0.6em;
  }

#vote_container{
  margin-bottom: 1.5em;
  margin-top: 0em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em; 
  padding-left: 2em;
  border-radius: 24px;
  background: rgba(235, 230, 230, 0.52);
  box-shadow: 0px 0px 5px #464343;
  display: inline-block;
  width: 65%;

}
  
#vote_wrapper{
  margin-top: 2em;
}

hr#title_break{
  width: 66%;
  border-color: rgba(69, 25, 180, 0.36);
  box-shadow: rgb(128, 23, 94);
}

p.description{
  font-size: 16px;
  padding-bottom: 1em;
}

img.previous{
  width: 300% fixed;
  height: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

img.next{
  width: 300% fixed;
  height: 100%;
  margin-top: 2em;
}

#post_photo{
  background: rgba(228, 218, 218, 0.67);
  border-radius: 14px;
  box-shadow: 0px 0px 3px #464343;
  padding-top: 1em;
}

h3#post_title{
  font-size: 2.5em;
}

p#post_username{
  margin-top: -1.2em;
}

img#user_post{
  width: auto;
  box-shadow: 0px 0px 5px #464343;
  border-radius: 4px;
  max-height: 40em;
}

.large-12.columns#votes{
  padding-left: 0;
}

.vote_card.large-2.columns{
}

input.button.downvoting{
  width: 100%;
  max-width: 8em;
  min-height: 2em;
  background-color: #4A3385;
  border-color: #D1D0D1;
}

input.button.downvoting:hover{
  background-color: navy;
  border-color: lightblue;
}


input.button.upvoting{
  width: 100%;
  max-width: 8em;
  min-height: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
  background-color: #4A3385;
  border-color: #D1D0D1;
}

input.button.upvoting:hover{
  background-color: navy;
  border-color: lightblue;
}

.small.button{
  background-color: #4A3385;
  border-color: #D1D0D1;
}

.small.button:hover{
  background-color: navy;
  border-color: lightblue;
}

// ************ Posts Reviews ******************
.large-12.columns.panel{
  width: 97%;
  padding-right: 1em;
}

.comments_container{
  width: 57%;
  // background: rgba(32, 30, 30, 0.6);
  border-radius: 24px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  background: rgba(235, 230, 230, 0.52);
  box-shadow: 0px 0px 5px #464343;
}

.panel{
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: 0px 0px 3px #464343;
  margin: 1em;
  background: rgba(235, 235, 235, 0.52);
  border: none;

}

  .panel img{
    border: 2px solid #255F79;
    border-radius: 4px;
  }

  .row hr{
    border-color: rgba(16, 16, 95, 0.23);
    box-shadow: 0px 0px 20px gray;
    width: 50%;
  }

  .panel.reviews_title{
    width: 100%;
  }

  .large-11.columns.panel{
    width: 89.7%;
  }

.panel#review_postcard{
  width: 95%;
}

.large-13.columns.panel{
}

p#review{
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 5px;
  max-width: 100%;
  overflow: scroll;
  float: left;
}

hr#review_hr{
  width: 90%;
  box-shadow: 0px 0px 0px;
  margin-bottom: 1em;
}

// ******** End posts reviews

// .js-masonry .infinite-scroll .clearfix .centered { height: 10000px;
// }

// #container { margin: 0 auto;

// }

// .masonry-brick .box .col .images .item { margin: 0;
// }

// .centered { margin: 0 auto;
// }
